name: Rust

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@v5
      - name: Install aarch64 toolchain
        run: rustup target add aarch64-unknown-none
      - name: Install aarch32 toolchain
        run: rustup target add armv7a-none-eabi
      - name: Build
        run: cargo build
      - name: Build for aarch64
        run: cargo build --target=aarch64-unknown-none
      - name: Build for aarch32
        run: RUSTFLAGS="-Ctarget-feature=+trustzone,+virtualization" cargo build --target armv7a-none-eabi
      - name: Run tests
        run: cargo test
      - name: Run clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run clippy on aarch64
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --target=aarch64-unknown-none

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Format Rust code
        run: cargo fmt --all -- --check
